.subcriber {
    padding: 50px 0 65px 0;
    background-color: #2C75E4;
    color: #FFFFFF;

    .sub {
        width: 580px;
        h3 {
            margin-bottom: 20px;
            font-weight: 400;
            font-size: 19px;
            line-height: 22px;
        }
        p {
            font-weight: 300;
            font-size: 15px;
            line-height: 22px;
        }
        form {
            input {
                width: 80%;
                padding: 12px 20px;
                background-color: #FFFFFF;
                &::placeholder {
                    color: #AAAAAA;
                }
            }
            label {
                padding: 11px 13px;
                background-color:#273044 ;
                cursor: pointer;
            }
        }


    }
}