.top-courses {
  margin-top: 50px;
}
.top-courses .header {
  margin-bottom: 40px;
}
.top-courses .header h2 {
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  color: #001931;
}
.top-courses .header nav ul li a {
  padding: 10px 20px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #4D5D6F;
  background-color: #F6F6F6;
  border-radius: 45px;
  margin-left: 20px;
  transition: 0.3s;
}
.top-courses .header nav ul li a:hover {
  background-color: #2C7AFF;
  color: #FFFFFF;
}
.top-courses .header nav ul li .newest {
  color: #FFFFFF;
  background-color: #2C7AFF;
}
.top-courses .row .slick-slider {
  width: 100%;
  margin: 0 auto;
  position: relative;
}
.top-courses .row .slick-slide {
  padding: 0 40px;
}
.top-courses .row .slick-prev {
  z-index: 1;
  right: 50%;
  left: unset;
}
.top-courses .row .slick-next {
  z-index: 1;
  left: 50%;
}
.top-courses .row .slick-prev:before, .top-courses .row .slick-next:before {
  font-size: 40px;
  color: #001931;
}
.top-courses .row .items {
  position: relative;
  margin-bottom: 30px;
  overflow: hidden;
}
.top-courses .row .items:hover .infom {
  bottom: 20px !important;
}
.top-courses .row .items:hover::after {
  background: linear-gradient(180deg, rgba(0, 25, 49, 0) 0, rgba(0, 25, 49, 0.8) 0);
}
.top-courses .row .items:hover .special {
  z-index: 3;
}
.top-courses .row .items .special {
  position: absolute;
  font-weight: 700;
  font-size: 13px;
  line-height: 13px;
  color: #FFFFFF;
  padding: 5px 10px;
  background-color: #61CC2F;
  top: 10px;
}
.top-courses .row .items img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}
.top-courses .row .items .infom {
  position: absolute;
  margin: 0 20px;
  z-index: 2;
  transition: 0.3s;
}
.top-courses .row .items .infom h4 {
  font-size: 17px;
  color: #B3BAC2;
  margin-top: 9px;
  font-weight: 700;
}
.top-courses .row .items .infom span {
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: #FFFFFF;
  margin-top: 11px;
}
.top-courses .row .items .infom .discout {
  color: #B3BAC2;
  text-decoration: line-through;
}
.top-courses .row .items .infom p {
  color: #FFFFFF;
  font-weight: 300;
  margin: 5px 0;
}
.top-courses .row .items .infom .star .gold {
  color: #EAB830;
}
.top-courses .row .items .infom .star .white {
  color: #FFFFFF;
}
.top-courses .row .items .infom .star span {
  font-weight: 300;
  margin-left: 5px;
}
.top-courses .row .items .infom .star .heart {
  color: #FFFFFF;
}
.top-courses .row .items .infom .view span {
  font-weight: 300;
  margin-right: 5px;
}
.top-courses .row .items::after {
  display: block;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(0, 25, 49, 0) 0%, rgba(0, 25, 49, 0.9) 100%);
  border-radius: 8px;
  top: 0;
  left: 0;
  transition: 0.3s;
}
.top-courses .row .items .red {
  background-color: #FF3945;
}
.top-courses button {
  width: 100%;
  margin-bottom: 75px;
}
.top-courses button a {
  padding: 10px 20px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  background-color: #227AFF;
  border-radius: 45px;
  margin: 0 auto;
  transition: 0.3s;
}
.top-courses button a:hover {
  background-color: #295fb0;
}/*# sourceMappingURL=Courses.css.map */