@import "tailwindcss";

html, body {
  overflow-y: auto !important;
  -webkit-overflow-scrolling: touch;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
